*~
c1_merge.pdf
hist.root
file.list
test_outdir_0/*.pdf
D_cord
outdir_0/
outdir_1/
outdir_2/
outdir_3/
outdir_4/
outdir_5/
outdir_6/
outdir_7/
outdir_8/
outdir_9/
CTLearn_hist_reco_x_m_true_x.csv
CTLearn_hist_reco_y_m_true_y.csv
data_fixed_chord_length_hist_reco_x_m_true_x.csv
data_fixed_chord_length_hist_reco_y_m_true_y.csv
data_not_fixed_chord_length_hist_reco_x_m_true_x.csv
data_not_fixed_chord_length_hist_reco_y_m_true_y.csv
fileAll.list
histAll.root
true_core_x_y.csv
